<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Layui</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
  <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>

<table class="layui-hide" id="userInfo" lay-filter="test"></table>
<!--搜索框-->
<script type="text/html" id="toolbarDemo">

  <div class="demoTable layui-form-pane">
    <div class="layui-form-item">
      <label class="layui-form-label">用户查询</label>
      <div class="layui-input-inline">
        <input type="text" class="layui-input" id="searchUserName" name="loginUsername" autocomplete="off" placeholder="请输入用户名查询">
      </div>
      <button class="layui-btn layui-btn-primary" type="button" id="searchBtn" data-type="reload" lay-filter="data-search-btn">
        <i class="layui-icon layui-icon-search">&nbsp;&nbsp;搜索</i>
      </button>
    </div>
  </div>
</script>
<!--操作栏-->
<script type="text/html" id="barDemo">
  <a id="editBtn" class="layui-btn layui-btn-primary layui-btn-xs" lay-event="showInfo">查看</a>
  <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="active">启用</a>
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="forbid">禁用</a>
</script>
<!--信息展示-->
<script th:src="@{/layui/layui.js}" type="text/html" id="show-info">
  <div class="layui-col-md10" style="margin-left: 35px; margin-top: 20px">
    <form class="layui-form" action="" lay-filter="showInfoForm">
      <div class="layui-form-item">
        <label class="layui-form-label">用户ID</label>
        <div class="layui-input-block">
          <input type="text" name="loginId" required lay-verify="required" autoComplete="no"
                 disabled style="color: darkgray"
                 class="layui-input">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">用户名</label>
        <div class="layui-input-block">
          <input type="text" name="loginUsername" required lay-verify="required" autoComplete="on"
                 disabled style="color: darkgray"
                 class="layui-input">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">电子邮箱</label>
        <div class="layui-input-block">
          <input type="text" name="loginEmail" required lay-verify="required"
                 disabled style="color: darkgray"
                 autoComplete="on" class="layui-input">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">电话</label>
        <div class="layui-input-block">
          <input type="text" name="loginPhone" required lay-verify="required"
                 disabled style="color: darkgray"
                 autoComplete="no" class="layui-input">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">姓名</label>
        <div class="layui-input-block">
          <input type="text" name="loginRealName" required lay-verify="required"
                 autoComplete="no"
                 disabled style="color: darkgray"
                 class="layui-input">
        </div>
      </div>
<!--      <div class="layui-form-item">-->
<!--        <label class="layui-form-label">性别</label>-->
<!--        <div class="layui-input-block">-->
<!--          <input type="text" name="userGender" required lay-verify="required"  autoComplete="on"-->
<!--                 disabled style="color: darkgray"-->
<!--                 class="layui-input">-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="layui-form-item">-->
<!--        <label class="layui-form-label">身份证号码</label>-->
<!--        <div class="layui-input-block">-->
<!--          <input type="text" name="userIdentity" required lay-verify="required"-->
<!--                 disabled style="color: darkgray"-->
<!--                 class="layui-input">-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="layui-form-item">-->
<!--        <label class="layui-form-label">年龄</label>-->
<!--        <div class="layui-input-block">-->
<!--          <input type="text" name="userAge" required lay-verify="required"-->
<!--                 disabled style="color: darkgray"-->
<!--                 class="layui-input">-->
<!--        </div>-->
<!--      </div>-->
    </form>
  </div>
</script>

<script th:src="@{/layui/layui.js}" ></script>

<!-- 注意：如果你直接复制所有代码到本地，上述 JS 路径需要改成你本地的 -->

<script>
  layui.use(['table','form','jquery','layer'], function(){
    var layer = layui.layer
            ,$ = layui.jquery,form = layui.form,table = layui.table;
    table.render({
      elem: '#userInfo'
      ,url: '/manage/getOrdinaryUsers'
      ,toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
      ,defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
        title: '提示'
        ,layEvent: 'LAYTABLE_TIPS'
        ,icon: 'layui-icon-tips'
      }]
      ,title: '用户信息表'
      ,cols: [
        [
          {type: 'checkbox', fixed: 'left'}
          ,{field:'loginId', title:'ID', width:80,}
          ,{field:'loginUsername', title:'用户名', width:100 }
          ,{field:'loginEmail', title:'电子邮箱', width:150}
          ,{field:'loginPhone', title:'电话', width:100}
          ,{field:'loginRealName', title:'姓名', width:100}
          // ,{field:'loginGender', title:'性别',width: 50}
          // ,{field:'loginIdentity', title:'身份号码', width:120}
          // ,{field:'loginAge', title:'年龄', width:50}
          ,{field:'loginCreateTime', title:'用户创建时间', width:150}
          ,{field:'loginCreateTime', title:'近期修改时间', width:150}
          ,{field:'loginStatus', title:'状态', width:80}
          ,{fixed: 'right', title:'操作', toolbar: '#barDemo', width:170}
        ]
      ]
      ,page: true
      ,limit:10
      ,request: {
        pageName: 'page' // 指定请求参数中当前页码的字段名，默认为page
        ,limitName: 'limit' // 指定请求参数中每页数据量的字段名，默认为limit
      }
      ,parseData: function (res) {
        var result;
        console.log(this);
        if (this.page.curr) {
          result = res.data.slice(this.limit * (this.page.curr - 1), this.limit * this.page.curr);
        } else {
          result = res.data.slice(0, this.limit);
        }
        return {"code": res.code, "msg": res.msg, "count": res.count, "data": result};
      },
      error: function (resultVo) {
        console.log(data)
        layer.msg(resultVo.msg,{
          icon: 2,
          time: 1000,
        },function (){
          location.reload();
        });
        // tableIns.reload();
        layer.close(index);
      }
    });


    // 监听行工具事件
    table.on('tool(test)', function(obj){
      if (obj.event === 'showInfo') {
        layer.open({

          title: "用户基本信息",
          type: 1,
          area: ['550px', '440px'],
          content: $('#show-info').html(),
          success: function(layero, index) {
            form.val('showInfoForm', {
              // 赋值
              "loginId": obj.data.loginId,
              "loginUsername": obj.data.loginUsername,
              "loginEmail": obj.data.loginEmail,
              "loginPhone": obj.data.loginPhone,
              "loginRealName": obj.data.loginRealName,
              // "loginGender": obj.data.userGender,
              // "loginIdentity": obj.data.userIdentity,
              // "loginAge": obj.data.loginAge
            });
          }
        });
      }else if (obj.event === 'forbid') {
        layer.confirm('确定禁用用户？', {icon: 3, title: '提示信息'}, function(index) {
          $.ajax({
            url: '/manage/forbidUser',
            type: 'PUT',
            data: {
              loginId: obj.data.loginId,
            },
            success: function(resultVo) {
              if (resultVo.code === 0) {
                layer.msg(resultVo.msg,{
                  icon: 1,
                  time: 1000  // 1秒关闭
                }, function (){
                  // 一秒以后进行页面重新刷新
                  location.reload();
                });
              }else if (resultVo.code === 1) {
                layer.msg(resultVo.msg,{
                  icon: 0,
                  time: 1000  // 1秒关闭
                }, function (){
                  // 一秒以后进行页面重新刷新
                  location.reload();
                });
              }else if (resultVo.code === 3) {
                layer.msg(resultVo.msg,{
                  icon: 2,
                  time: 1000  // 1秒关闭
                }, function (){
                  // 一秒以后进行页面重新刷新
                  location.reload();
                });
              }
              close(index);
              layer.close(index);
            },
            error: function (resultVo) {
              layer.msg(resultVo.msg,{
                icon: 2,
                time: 1000,
              },function (){
                location.reload();
              });
              layer.close(index);
            }

          });
        });
      }else if (obj.event === 'active') {
        layer.confirm('确定启用用户？', {icon: 3, title: '提示信息'}, function(index) {
          $.ajax({
            url: 'manage/activeUser',
            type: 'PUT',
            data: {
              loginId: obj.data.loginId,
            },
            success: function(resultVo) {
              if (resultVo.code === 0) {
                layer.msg(resultVo.msg,{
                  icon: 1,
                  time: 1000  // 1秒关闭
                }, function (){
                  // 一秒以后进行页面重新刷新
                  location.reload();
                });
              }else if (resultVo.code === 1) {
                layer.msg(resultVo.msg,{
                  icon: 0,
                  time: 1000  // 1秒关闭
                }, function (){
                  // 一秒以后进行页面重新刷新
                  location.reload();
                });
              }else if (resultVo.code === 3) {
                layer.msg(resultVo.msg,{
                  icon: 2,
                  time: 1000  // 1秒关闭
                }, function (){
                  // 一秒以后进行页面重新刷新
                  location.reload();
                });
              }
              close(index);
            },
            error: function (resultVo) {
              layer.msg(resultVo.msg,{
                icon: 2,
                time: 1000,
              },function (){
                location.reload();
              });
              layer.close(index);
            }

          });
        });
      }
    });

    $('#searchBtn').on('click', function(){
      var loginUsername = $('#searchUserName').val();
      // 执行搜索，并重载表格数据
      table.reload('userInfo', {
        where: {
          loginUsername: loginUsername
        },
        page: {
          curr: 1 //重新从第 1 页开始
        }
      });
    });
  });
  // 进行搜索操作
</script>

</body>
</html>