<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <script th:src="@{/layui/layui.js}" charset="utf-8"></script>
</head>
<body>
<!--修改密码-->
<div class="layui-col-md10" style="margin-left: 100px; margin-top: 20px">
    <form class="layui-form" action="" lay-filter="changePwdForm">
        <div class="layui-form-item">
            <label class="layui-form-label">当前密码</label>
            <div class="layui-input-inline">
                <input type="password" name="currentPwd" required lay-verify="required" placeholder="请输入当前密码" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">新密码</label>
            <div class="layui-input-inline">
                <input type="password" name="newPwd" required lay-verify="required" placeholder="请输入新密码" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">确认新密码</label>
            <div class="layui-input-inline">
                <input type="password" name="confirmPwd" required lay-verify="required|confirmPwd" placeholder="请再次输入新密码" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item" style="margin-left: 115px">
            <div class="layui-input-inline" style="text-align: center">
                <button class="layui-btn" lay-submit lay-filter="change-pwd-btn">提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>

<script>
    layui.use(['form', 'jquery', 'layer'], function() {
        var layer = layui.layer,
            $ = layui.jquery,
            form = layui.form;

        // 自定义表单验证规则
        form.verify({
            confirmPwd: function(value, item) {
                var newPwd = $('input[name="newPwd"]').val();
                if (value !== newPwd) {
                    return '两次输入的新密码不一致';
                }
            }
        });

        // 监听提交按钮点击事件
        form.on('submit(change-pwd-btn)', function (data) {
            $.post("/manage/confirmPwd", data.field, function (resultVo) {

                if (resultVo.code === 0) {
                    layer.msg(resultVo.msg,{
                        icon: 1,
                        time: 1000  // 1秒关闭
                    }, function (){
                        // 一秒以后进行页面重新刷新
                        location.reload();
                    });
                }else if (resultVo.code === 2) {
                    layer.msg(resultVo.msg,{
                        icon: 2,
                        time: 1000  // 1秒关闭
                    }, function (){
                        // 一秒以后进行页面重新刷新
                        location.reload();
                    });
                }else if (resultVo.code === 3) {
                    layer.msg(resultVo.msg,{
                        icon: 2,
                        time: 1000  // 1秒关闭
                    }, function (){
                        // 一秒以后进行页面重新刷新
                        location.reload();
                    });
                }
            }).fail(function(jqXHR, textStatus, errorThrown) {
                console.log(jqXHR.responseText); // 将错误信息打印到控制台
                layer.alert('修改失败!', {icon: 2});
            });
            // 阻止form表单提示
            return false;
        })

        // 重置按钮的点击事件处理
        $('.layui-btn[type="reset"]').click(function() {
            // 使用 JavaScript 的 reset() 方法重置表单
            document.getElementById("changePwdForm").reset();
        });
    });
</script>
</body>
</html>