<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <script th:src="@{/layui/layui.js}" charset="utf-8"></script>
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>
<!--表格-->
<table class="layui-hide" id="innerUserInfo" lay-filter="test"></table>
<!--搜索框-->
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container" style="float: left">
        <button id="addBtn" type="button" class="layui-btn layui-btn-primary" lay-event="addInnerUser">新增</button>
        <button id="del" type="button" class="layui-btn layui-btn-danger delAll_btn" lay-event="forbidInnerUsers">批量禁用</button>
    </div>
    <div class="demoTable">
        &nbsp;&nbsp;用户查询：
        <div class="layui-inline">
            <input class="layui-input" id="searchUserName" name="innerUserName" autocomplete="off" placeholder="请输入用户名查询">
        </div>
        <button id="searchBtn" type="button" class="layui-btn layui-btn-normal" data-type="reload" lay-filter="data-search-btn">搜索</button>
    </div>
</script>
<!--行操作-->
<script type="text/html" id="barDemo">
    <a id="editBtn" class="layui-btn layui-btn-xs" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="active">启用</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="forbid">禁用</a>
</script>
<!--添加表单-->
<script type="text/html" id="add-innerInfo">
    <div class="layui-col-md10" style="margin-left: 35px; margin-top: 20px">
        <form class="layui-form" action="">
            <div class="layui-form-item">
                <label class="layui-form-label">工号</label>
                <div class="layui-input-block">
                    <input type="text" name="innerUserNo" required lay-verify="required" placeholder="请输入工号" autoComplete="off"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">用户名</label>
                <div class="layui-input-block">
                    <input type="text" name="innerUserName" required lay-verify="required" placeholder="请输入用户名" autoComplete="off"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">性别</label>
                <div class="layui-input-block">
                    <input type="radio" name="innerUserGender" value="男" title="男" checked="">
                    <input type="radio" name="innerUserGender" value="女" title="女">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">用户密码</label>
                <div class="layui-input-block">
                    <input type="password" name="InnerUserPassword" required lay-verify="required" placeholder="请输入密码" autoComplete="off"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">电话号码</label>
                <div class="layui-input-block">
                    <input type="tel" name="innerUserPhone" required lay-verify="phone" placeholder="请输入电话" autoComplete="on" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">电子邮箱</label>
                <div class="layui-input-block">
                    <input type="text" name="innerUserEmail" lay-verify="email" placeholder="请输入电子邮箱" autoComplete="on" class="layui-input">
                </div>
            </div>

<!--            <div class="layui-form-item">-->
<!--                <label class="layui-form-label">工作状态</label>-->
<!--                <div class="layui-input-inline">-->
<!--                    <select name="innerUserWorkStatus" lay-verify="required" lay-search>-->
<!--                        <option value=""></option>-->
<!--                        <option value="在职">在职</option>-->
<!--                        <option value="休假">休假</option>-->
<!--                        <option value="离职">离职</option>-->
<!--                    </select>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="layui-form-item">-->
<!--                <label class="layui-form-label">账户状态</label>-->
<!--                <div class="layui-input-inline">-->
<!--                    <select name="innerUserAccountStatus" lay-verify="required" lay-search>-->
<!--                        <option value=""></option>-->
<!--                        <option value="启用">启用</option>-->
<!--                        <option value="禁用">禁用</option>-->
<!--                    </select>-->
<!--                </div>-->
<!--            </div>-->

            <div class="layui-form-item">
                <label class="layui-form-label">职位</label>
                <div class="layui-input-inline">
                    <select name="innerUserRole" lay-verify="required" lay-search>
                        <option value=""></option>
                        <option value="医生">医生</option>
                        <option value="助理医生">助理医生</option>
                        <option value="护士">护士</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">所属科室</label>
                <div class="layui-input-block">
                    <input type="text" name="innerUserDepartment" lay-verify="required"  placeholder="请输入科室" autoComplete="on" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">状态</label>
                <div class="layui-input-inline">
                    <select name="innerUserStatus" lay-verify="required" lay-search>
                        <option value=""></option>
                        <option value="在职">在职</option>
                        <option value="休假">休假</option>
                        <option value="离职">离职</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">入职时间</label>
                <div class="layui-input-block">
                    <input type="date" name="innerUserCreateTime" required lay-verify="required" placeholder="请输入入职时间" autoComplete="off"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">离职时间</label>
                <div class="layui-input-block">
                    <input type="date" name="innerUserStopTime"  placeholder="请输入离职时间" autoComplete="off"
                           class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block" style="text-align: center">
                    <button class="layui-btn" lay-submit lay-filter="addForm">提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
</script>

<!--删除按钮-->
<script type="text/html" id="delete-form">
    <div class="layui-col-md10" style="margin-left: 35px; margin-top: 20px">
        <form class="layui-form" action="">
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">确定删除?</label>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block" style="text-align: center">
                    <button class="layui-btn" lay-submit lay-filter="deleteForm">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
</script>
<!--编辑表单-->
<script type="text/html" id="edit-innerInfo">
    <div class="layui-col-md10" style="margin-left: 35px; margin-top: 20px">
        <form class="layui-form" action="" lay-filter="editForm">
            <div class="layui-form-item">
                <label class="layui-form-label">ID</label>
                <div class="layui-input-block">
                    <input type="text" name="innerUserId" required lay-verify="required" autoComplete="off"
                           disabled style="color: darkgray"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">员工号</label>
                <div class="layui-input-block">
                    <input type="text" name="innerUserNo" required lay-verify="required" autoComplete="off"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">用户名</label>
                <div class="layui-input-block">
                    <input type="text" name="innerUserName" required lay-verify="required" placeholder="请输入用户名" autoComplete="off"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">用户密码</label>
                <div class="layui-input-block">
                    <input type="password" name="InnerUserPassword" placeholder="请输入密码" autoComplete="off"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">性别</label>
                <div class="layui-input-block">
                    <input type="radio" name="innerUserGender" value="男" title="男" checked="">
                    <input type="radio" name="innerUserGender" value="女" title="女">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">职位</label>
                <div class="layui-input-block">
                    <input type="text" name="innerUserRole" required lay-verify="required" placeholder="请输入职位" autoComplete="off"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">所属科室</label>
                <div class="layui-input-block">
                    <input type="text" name="innerUserDepartment" required lay-verify="required" placeholder="请输入科室" autoComplete="off"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">电话号码</label>
                <div class="layui-input-block">
                    <input type="tel" name="innerUserPhone" required lay-verify="required" placeholder="请输入电话"
                           autoComplete="on" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">电子邮箱</label>
                <div class="layui-input-block">
                    <input type="email" name="innerUserEmail" placeholder="请输入电子邮箱"
                           autoComplete="on" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">状态</label>
                <div class="layui-input-inline">
                    <select name="innerUserStatus" lay-verify="required" lay-search>
                        <option value=""></option>
                        <option value="在职">在职</option>
                        <option value="休假">休假</option>
                        <option value="离职">离职</option>
                    </select>
                </div>
            </div>
<!--            <div class="layui-form-item">-->
<!--                <label class="layui-form-label">账户状态</label>-->
<!--                <div class="layui-input-inline">-->
<!--                    <select name="innerUserAccountStatus" lay-verify="required" lay-search>-->
<!--                        <option value=""></option>-->
<!--                        <option value="启用">启用</option>-->
<!--                        <option value="禁用">禁用</option>-->
<!--                    </select>-->
<!--                </div>-->
<!--            </div>-->
            <!--            <div class="layui-form-item">-->
            <!--                <label class="layui-form-label">账户状态</label>-->
            <!--                <div class="layui-input-block">-->
            <!--                    <input type="checkbox" name="open" lay-skin="switch" lay-filter="switchTest" title="启用|禁用">-->
            <!--                </div>-->
            <!--            </div>-->
            <div class="layui-form-item">
                <label class="layui-form-label">入职时间</label>
                <div class="layui-input-block">
                    <input type="date" name="innerUserCreateTime" required lay-verify="required" placeholder="请输入入职时间" autoComplete="off"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">离职时间</label>
                <div class="layui-input-block">
                    <input type="date" name="innerUserStopTime"  placeholder="请输入离职时间" autoComplete="off"
                           class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block" style="text-align: center">
                    <button class="layui-btn" lay-submit lay-filter="edit-btn-form">提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
</script>
<!-- 注意：如果你直接复制所有代码到本地，上述 JS 路径需要改成你本地的 -->
<script>
    layui.use(['table','form','jquery','layer'], function(){
        var layer = layui.layer
            ,$ = layui.jquery,table = layui.table;
        var form = layui.form;

        table.render({
            elem: '#innerUserInfo'
            ,url: '/manage/getInnerUsers'
            ,toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
            ,defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                title: '提示'
                ,layEvent: 'LAYTABLE_TIPS'
                ,icon: 'layui-icon-tips'
            }]
            ,title: '工作人员信息表'
            ,cols: [
                [
                    {type: 'checkbox', fixed: 'left'}
                    ,{field:'innerUserId', title:'ID', width:120,}
                    ,{field:'innerUserNo', title:'工号', width:120,}
                    ,{field:'innerUserName', title:'姓名', width:120 }
                    ,{field:'innerUserGender', title:'性别', width:100}
                    ,{field:'innerUserRole', title:'职位', width:100}
                    ,{field:'innerUserDepartment', title:'科室', width:100}
                    ,{field:'innerUserEmail', title:'电子邮箱', width:150}
                    ,{field:'innerUserPhone', title:'联系电话', width: 150}
                    ,{field:'innerUserCreateTime', title:'入职时间', width:150}
                    // ,{field:'innerUserWorkStatus', title:'工作状态', width:120}
                    // ,{field:'innerUserAccountStatus', title:'工作状态', width:120}
                    ,{field:'innerUserStatus', title:'状态', width:120}
                    ,{fixed: 'right', title:'操作', toolbar: '#barDemo', width:260}
                ]
            ]
            ,page: true
            ,limit:10
            ,parseData: function (res) {
                var result;
                console.log(this);
                if (this.page.curr) {
                    result = res.data.slice(this.limit * (this.page.curr - 1), this.limit * this.page.curr);
                } else {
                    result = res.data.slice(0, this.limit);
                }
                return {"code": res.code, "msg": res.msg, "count": res.count, "data": result};
            }
        });
        //头工具栏事件
        table.on('toolbar(test)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'addInnerUser':
                    var data = checkStatus.data;
                    layer.open({
                        title: "添加员工信息",
                        type: 1,
                        area: ['660px', '600px'],
                        content: $('#add-innerInfo').html(),
                        // 添加了这段后，单选框和下拉框才能正常显示
                        success: function(layero, index) {
                            // 在打开弹窗之后，手动渲染表单
                            layui.use(['form'], function() {
                                var form = layui.form;
                                form.render();
                            });
                        }
                    });
                    break;
                case 'forbidInnerUsers':
                    $(".delAll_btn").click(function () {
                        var checkStatus = table.checkStatus('innerUserInfo'),
                            data = checkStatus.data,
                            innerUserIds = "";
                        if (data.length > 0) {
                            for (var i in data) {
                                innerUserIds += data[i].innerUserId + ",";
                            }
                            layer.msg(innerUserIds)
                            layer.confirm('确定禁用选中的用户？', {icon: 3, title: '提示信息'}, function (index) {
                                $.ajax({
                                    url: '/manage/forbidInnerUsers',
                                    type: 'PUT',
                                    data: {
                                        innerUserId: innerUserIds
                                    },
                                    success: function(resultVo) {
                                        console.log(data)
                                        layer.msg(resultVo.msg,{
                                            icon: 1,
                                            time: 1000,

                                        },function (){
                                            location.reload();
                                        });
                                        // tableIns.reload();
                                        layer.close(index);
                                    },
                                    error: function (resultVo) {
                                        console.log(data)
                                        layer.msg(resultVo.msg,{
                                            icon: 1,
                                            time: 1000,
                                        },function (){
                                            location.reload();
                                        });
                                        // tableIns.reload();
                                        layer.close(index);
                                    }

                                });
                            })
                        } else {
                            layer.msg("请选择需要禁用的用户");
                        }
                    });

                    break;
                //自定义头工具栏右侧图标 - 提示
                case 'LAYTABLE_TIPS':
                    layer.alert('我还没有想好说什么咯！');
                    break;
            };
        });
        // 监听行工具事件
        table.on('tool(test)', function(obj){
            var data = obj.data;
            //console.log(obj)
            if (obj.event === 'edit') {
                // 弹出表单进行修改
                layer.open({
                    elem: "#edit-innerInfo",
                    title: "修改工作人员信息",
                    type: 1,
                    area: ['660px', '550px'],
                    content: $('#edit-innerInfo').html(),

                    success: function(layero, index) {
                        // 在打开弹窗之后，手动渲染表单
                        layui.use(['form'], function() {
                            var form = layui.form;
                            form.render();
                        });

                        form.val('editForm', {
                            // 赋值
                            "innerUserId": obj.data.innerUserId,
                            "innerUserNo": obj.data.innerUserNo,
                            "innerUserName": obj.data.innerUserName,
                            "innerUserGender": obj.data.innerUserGender,
                            "innerUserRole": obj.data.innerUserRole,
                            "innerUserDepartment": obj.data.innerUserDepartment,
                            "innerUserEmail": obj.data.innerUserEmail,
                            "innerUserPhone": obj.data.innerUserPhone,
                            "innerUserCreateTime": obj.data.innerUserCreateTime,
                            "innerUserStopTime": obj.data.innerUserStopTime,
                            "innerUserStatus": obj.data.innerUserStatus,
                        });
                    },
                    error: function (resultVo) {
                        layer.msg(resultVo.msg,{
                            icon: 2,
                            time: 1000,
                        },function (){
                            location.reload();
                        });
                        layer.close(index);
                    }
                });
            }else if (obj.event === 'forbid') {
                layer.confirm('确定禁用该用户？', {icon: 3, title: '提示信息'}, function(index) {
                    $.ajax({
                        url: 'manage/forbidInnerUser',
                        type: 'PUT',
                        data: {
                            innerUserId: obj.data.innerUserId
                        },
                        success: function(resultVo) {
                            console.log(resultVo)
                            layer.msg(resultVo.msg,{
                                icon: 1,
                                time: 1000,
                            },function (){
                                location.reload();
                            });
                            layer.close(index);
                        },
                        error: function (resultVo) {
                            layer.msg(resultVo.msg,{
                                icon: 2,
                                time: 1000,
                            },function (){
                                location.reload();
                            });
                            layer.close(index);
                        }

                    });
                });
            } else if (obj.event === 'active') {
                layer.confirm('确定启用该用户？', {icon: 3, title: '提示信息'}, function(index) {
                    $.ajax({
                        url: 'manage/activeInnerUser',
                        type: 'PUT',
                        data: {
                            innerUserId: obj.data.innerUserId
                        },
                        success: function(resultVo) {
                            console.log(resultVo)
                            layer.msg(resultVo.msg,{
                                icon: 1,
                                time: 1000,
                            },function (){
                                location.reload();
                            });
                            layer.close(index);
                        },
                        error: function (resultVo) {
                            layer.msg(resultVo.msg,{
                                icon: 2,
                                time: 1000,
                            },function (){
                                location.reload();
                            });
                            layer.close(index);
                        }
                    });
                });
            }else if (obj.event === 'updateSecret') {
                layer.confirm('确定修改密码此操作不可逆？', {icon: 3, title: '提示信息'}, function(index) {
                    url:
                    layer.open({
                        elem: "#update-secret-form",
                        title: "修改密码",
                        type: 1,
                        area: ['330px', '220px'],
                        content: $('#update-secret-form').html(),
                        success: function(layero, index) {
                                // 在打开弹窗之后，手动渲染表单
                                layui.use(['form'], function() {
                                    var form = layui.form;
                                    form.render();
                                });

                                form.val('editPassword', {
                                    // 赋值
                                    "innerUserId": obj.data.innerUserId
                                });

                        },
                        error: function (resultVo) {
                            layer.msg(resultVo.msg,{
                                icon: 2,
                                time: 1000,
                            },function (){
                                location.reload();
                            });
                            layer.close(index);
                        }
                    });
                });
            }
        });
        // 监听提交事件
        form.on('submit(addForm)', function (data) {
            $.post("manage/addInnerUserInfo", data.field, function (resultVo) {
                layer.msg(resultVo.msg,{
                    icon: 1,
                    time: 1000  // 1秒关闭
                }, function (){
                    // 一秒以后进行页面重新刷新
                    location.reload();
                });
            }).fail(function() {
                layer.alert('添加失败!', {icon: 2});
            });
            // 阻止form表单提示
            return false;
        })
        // 修改数据
        form.on('submit(edit-btn-form)', function (data) {
            $.post("manage/updateInnerUserInfo", data.field, function (resultVo) {
                layer.msg(resultVo.msg,{
                    icon: 1,
                    time: 1000  // 1秒关闭
                }, function (){
                    // 一秒以后进行页面重新刷新
                    location.reload();
                });
            }).fail(function() {
                layer.alert('添加失败!', {icon: 2});
            });
            // 阻止form表单提示
            return false;
        })
        // 修改密码
        form.on('submit(updatePassword)', function (data) {
            $.post("manage/updateInnerUserSecret", data.field, function (resultVo) {
                layer.msg(resultVo.msg,{
                    icon: 1,
                    time: 1000  // 1秒关闭
                }, function (){
                    // 一秒以后进行页面重新刷新
                    location.reload();
                });
            }).fail(function() {
                layer.alert('添加失败!', {icon: 2});
            });
            // 阻止form表单提示
            return false;
        })
        // 进行搜索操作
        $('#searchBtn').on('click', function(){
            var username = $('#searchUserName').val();
            // 执行搜索，并重载表格数据
            table.reload('innerUserInfo', {
                where: {
                    innerUserName: username
                },
                page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
        });
    });
</script>

</body>
</html>